body {
  height: 100vh;
}

article {
  height: 100%;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #F0F1FA;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-bottom: 20px;
}

footer div {
  width: 100%;
  font-size: 70%;
  margin: auto;
  text-align: center;
  clear: both;
}

footer .actions {
  width: 100%;
}

main, main.container {
  padding: 10px 20px 0 20px;
  height: calc(100% - 85px);
  width: 100%;
  position: fixed;
  top: 32px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.column {
  padding: 0.5rem;
}

.centered-text {
  text-align: center;
}

.badge.online::after {
  background-color: #32b643;
}
.badge.offline::after {
  background-color: #e85600;
}

h1 {
  font-size: 1.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

h1 .mdi {
  font-size: 1rem;
}

i.card-icon {
  margin-right: 5px;
}


.card-footer, .panel-footer {
  font-size: 0.8rem;
}

.tile .tile-action .mdi {
  font-size: 1rem;
}

.tile .tile-icon .mdi,
.card .mdi, .panel .mdi
.card .card-title, 
.card .card-title .btn,
.panel .panel-title,
.panel .panel-title .btn {
  font-size: 1rem;
}

.card .card-header, 
.card .card-body, 
.card .card-footer,
.panel .panel-header, 
.panel .panel-body, 
.panel .panel-footer {
  padding: 0.3rem;
}

.card .card-body:last-child, 
.card .card-footer:last-child, 
.card .card-header:last-child {
  padding-bottom: 0.3rem;
}

.navbar .logo {
  font-weight: bold;
}

dl {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

dl dt {
  margin: 0;
  float: left;
  width: 35%;
}

dl dd {
  margin: 0;
  float: left;
  width: 65%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

dl dd:last-child {
  margin-bottom: 0;
}

meter.meter {
  height: 5px;
}

.navbar i.typcn {
  font-size: 120%;
  vertical-align: top;
}

.tab .tab-item a {
  padding: 0.1rem;
}

.tab {
  font-size: 0.7rem;
}

.app-tabs {
  background: #fefefe;
  border-top: 1px solid #eeeeee;
}

.app-tab {
  cursor: pointer;
  padding: 3px;
  font-weight: 200;
}

.app-tab.selected {
  color: #2e5bec;
  font-weight: 600;
}

.app-tab-icon {
  font-size: 1rem;
  text-align:center;
  width: 100%;
}

.selected .app-tab-icon {
  font-weight: 600;
}

.app-tab-text {
  font-size: 11px;
  text-align:center;
  width: 100%;
}

.msg {
  font-size: 0.7rem;  
}

.msg .device {
  padding: 0 3px;
}
