[Unit]
Description=MicroNet
After=network.target

[Service]
User=user
ExecStart=/usr/local/bin/micropython /path/to/agent/micronet.py
WorkingDir=/path/to/agent
Restart=always

[Install]
WantedBy=default.target
