[Unit]
Description=MicroNet
After=network.target

[Service]
User=user
ExecStart=/usr/bin/python3 /path/to/agent/micronet.py
WorkingDirectory=/path/to/agent
Restart=always

[Install]
WantedBy=default.target
